body {
    align-items: center;
}

table, tr, td {
    border-collapse: collapse;
}
.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}
div {
    padding: 5px;
}